@using Microsoft.AspNetCore.Mvc.Localization
@using DataGap.CmsKit.Localization
@inject IHtmlLocalizer<CmsKitResource> L
@model DataGap.CmsKit.Pro.Public.Web.Pages.Public.Shared.Components.Newsletter.NewsletterViewModel
<div class="cms-newsletter-area container" data-preference="@Model.Preference" data-source="@Model.Source">
    <p class="mt-2 mb-2"><strong>Newsletter email page with the replaced widgetViewWidgetViewPath (Preference Parameter)</strong></p>
    <br/>

    <form id="newsletter-form-@Model.Source" class="newsletter-form">
        <div class="input-group mb-3">
            <input id="newsletter-email-input-@Model.Source" type="email" required class="form-control" name="newsletterEmail" placeholder="@L["EmailAddress"]" aria-label="Subscription" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="newsletter-submit-button-@Model.Source">@L["Subscribe"]</button>
        </div>
        <div class="mb-3 form-check">
             @if (Model.PrivacyPolicyConfirmation != null)
             {
                 <input id="privacy-policy-checkbox-@Model.Source" type="checkbox" data-val="false" required class="form-check-input ">
                 <label class="form-check-label" for="privacy-policy-checkbox-@Model.Source">
                     @Html.Raw(@Model.PrivacyPolicyConfirmation)
                 </label>
             }
        </div>
        @if (!Model.RequestAdditionalPreferencesLater && Model.AdditionalPreferences.Count > 0)
        {
            <div id="additional-preference">
                @for (var i = 0; i < Model.AdditionalPreferences.Count; i++)
                {
                    <div class="mb-3 form-check" data-additional-preference="@Model.AdditionalPreferences[i]">
                        <input id="additional-@Model.AdditionalPreferences[i]-@Model.Source" type="checkbox" data-val="false" class="form-check-input ">
                        <label class="form-check-label" for="additional-@Model.AdditionalPreferences[i]-@Model.Source">
                            @L["GetDealsAndSpecialOffersForThe", Model.DisplayAdditionalPreferences[i]]
                        </label>
                    </div>
                }
            </div>
        }
    </form>
</div>

<jellog-modal id="newsletter-success-modal-@Model.Source" centered="true" size="Default">
    <jellog-modal-body>
        <div>
            <div class="swal-icon swal-icon--success">
                <span class="swal-icon--success__line swal-icon--success__line--long"></span>
                <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

                <div class="swal-icon--success__ring"></div>
                <div class="swal-icon--success__hide-corners"></div>
            </div>
            <h1 class="text-center">@L["NewsletterSuccessMessage"]</h1>
            @if (Model.RequestAdditionalPreferencesLater && Model.AdditionalPreferences.Count > 0)
            {
                <p>@L["DoYouPreferAdditionalEmails"]</p>
            }
        </div>
        @if (Model.RequestAdditionalPreferencesLater && Model.AdditionalPreferences.Count > 0)
        {
            <div id="additional-preference">
                @for (var i = 0; i < Model.AdditionalPreferences.Count; i++)
                {
                    <div class="mb-3 form-check" data-additional-preference="@Model.AdditionalPreferences[i]">
                        <input id="additional-@Model.AdditionalPreferences[i]-@Model.Source" type="checkbox" data-val="false" class="form-check-input ">
                        <label class="form-check-label" for="additional-@Model.AdditionalPreferences[i]-@Model.Source">
                            @L["GetDealsAndSpecialOffersForThe", Model.DisplayAdditionalPreferences[i]]
                        </label>
                    </div>
                }
            </div>
        }
    </jellog-modal-body>
    <div class="modal-footer">
        <button id="newsletter-save-@Model.Source" type="button" class="btn btn-primary">@L["OK"]</button>
    </div>
</jellog-modal>
